@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.formstyle {
    width: 300px;
    height: 385px;
    margin: 130px auto;
    border: 3px solid rgb(9, 33, 42);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 20px 20px 15px rgba(0, 0, 0, 0.6);
    background: radial-gradient(rgb(71, 193, 241), rgb(11, 46, 63));
}

body {
    font-family: 'Caveat', cursive;
    font-size: 20px;
    text-shadow: 15px 10px px rgba(0, 0, 0, 0.6);
    background: radial-gradient(rgb(137, 207, 235)20%, rgb(16, 81, 113));
}

h1 {
    width: 100%;
    text-align: center;
    padding: 23px;
    background: linear-gradient(45deg, rgb(11, 46, 63), rgb(71, 193, 241));
    color: aliceblue;
    text-shadow: 10px 10px 5px rgba(0, 0, 0, 0.6);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
}

input:hover {
    background: radial-gradient(rgb(81, 185, 81), rgba(10, 123, 10, 0.675));
}
.btn {
    width: 50px;
    height: 50px;
    font-size: 25px;
    margin: 2px;
    cursor: pointer;
    background: radial-gradient(rgb(94, 166, 194),rgb(16, 81, 113));
    color: aliceblue;
    border-radius: 5px;
    border: 2px solid rgb(9, 33, 42);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.btn:hover {
    background: radial-gradient(rgb(44, 104, 128), rgb(3, 42, 61));
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.6);
}
#red {
    font-size: 20px;
    color: rgb(161, 5, 5);
}

#red:hover {
    color: rgb(201, 28, 28);
}

#green {
    font-size: 20px;
    color: rgb(6, 102, 6);
}

#green:hover {
    color: rgb(98, 204, 98);
}

.textview {
    width: 223px;
    margin: 5px;
    font-size: 25px;
    padding: 5px;
    background: radial-gradient(lightgreen, rgba(21, 163, 21, 0.675));
    border-radius: 5px;
    text-align: right;
    border: 2px solid rgb(9, 33, 42);
}
p{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.385);
}
